{% extends 'base.html' %}


{% block head %}
<title>Upload Images</title>
{% endblock %}

{% block body %}


<form action="/insert" method="POST">
    <center>
        <div class="form-group mx-sm-3 mb-2 col-6">
            <label for="exampleInputEmail1">Pic Captured by</label>
            <input type="text" class="form-control" name="owner" id="exampleInputFile1" placeholder="Picture Credit">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-6">
            <label for="exampleInputPassword1">Upload Image</label>
            <input type="file" class="form-control" name="img">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>


</center>

{% endblock body %}
